*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: montserrat, sans-serif;
    background-color: rgb(173, 193, 212);
    color: #0a0a0a;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
    margin: 10px;
}
ul li a{
    text-decoration: none;
    list-style: none;
    color: rgb(216, 207, 207);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}
        /* NAV  */
nav {
    background-color: rgb(24, 24, 25);
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.title{
    color:aliceblue;
    font-size: 35px;
    line-height: 80px;
    padding: 0 10px;
    font-weight: bold;
    margin-left: 70px;
}

.ul-list {
    float: right;
    margin-right: 80px;
}

.ul-list li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

a.active-link,a.title-bar:hover{
    background-color: rgb(56 56 59);
    border-bottom: 2px solid rgb(199, 203, 206);
    transition: 0.5s;
}

.list-teacher {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
}

.link-page {
    text-decoration: none;
    margin-left: 20%;
    margin-bottom: 15px;
    font-size: 17px;

}


.link-page:link {
    color: rgb(18, 17, 17);
}

.link-page:visited {
    color: rgb(3, 3, 3);
}

.link-page:hover {
    color: rgb(41, 131, 215);
}



.teacher {
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: aliceblue;
    padding: 10px;
    width: 300px;
    transition: 0.3s ease;
}

.teacher:hover {
    box-shadow: 0px 50px 100px #000000;
    transform: translateZ(20px);
}

.container-teachers {
    margin-left: 150px;
    display: flex;
    width: 60%;
    margin-top: 450px;
}

.img-teacher {
    margin-left: 15%;
    margin-bottom: 9px;
}

.teacher h1 {
    text-align: center;
}

.sub {
    margin-top: 4%;
    margin-left: 29%;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(248, 249, 251);
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(9, 9, 10);
    border-radius: 5px;

}

.sub:hover {
    background-color: rgb(120, 14, 14);
}

.sub:active {
    transform: scale(0.98);
}